@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 20%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 0 0% 53%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 0 0% 90%;
  --input: 0 0% 97%;
  --primary: 268 100% 61%;
  --primary-foreground: 0 0% 100%;
  --secondary: 267 100% 97%;
  --secondary-foreground: 0 0% 20%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 268 100% 61%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer components {
  .form-label {
    @apply text-xs text-primary font-medium mb-1 block;
  }
  
  .form-input {
    @apply w-full h-12 px-3 py-2 bg-input rounded-md border border-border text-foreground placeholder:text-muted-foreground focus:outline-none;
  }
  
  .mobile-container {
    @apply mx-auto w-full max-w-md bg-white shadow-lg overflow-hidden relative;
    height: 100vh;
    max-height: 812px;
  }
  
  .app-page {
    @apply p-6 h-full overflow-y-auto;
  }
  
  .radio-container {
    @apply relative flex items-center cursor-pointer mr-4;
  }
  
  .radio-container input {
    @apply absolute opacity-0 cursor-pointer;
    height: 0;
    width: 0;
  }
  
  .radio-checkmark {
    @apply absolute left-0 top-0 h-5 w-5 rounded-full border-2 border-border;
  }
  
  .radio-container input:checked ~ .radio-checkmark {
    @apply border-primary;
  }
  
  .radio-checkmark:after {
    content: "";
    @apply absolute hidden top-[3px] left-[3px] w-[10px] h-[10px] rounded-full bg-primary;
  }
  
  .radio-container input:checked ~ .radio-checkmark:after {
    @apply block;
  }
  
  .radio-label {
    @apply pl-7;
  }
}
